<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <header>
        <p class="para1">Login to explore our <span class="heading">Smart Resume Analyzer</span> Website!!!</p>

    </header>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('login') }}" method="POST">
                {{ form.hidden_tag() }}

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    {{ form.email(class="form-control", id="email", autocomplete="off") }}
                    {{ form.email.label(class="label") }}
                </div>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    {{ form.password(class="form-control", id="password") }}
                    {{ form.password.label(class="label") }}
                </div>

               

                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="{{ url_for('signup') }}" class="register-link">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>

    <script>
        function redirectToSignUpPage() {
            window.location.href = "{{ url_for('signup') }}"; 
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
